<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>ログインページ | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題管理アプリケーション</h1>
<div th:if="${param.error}">
    <p>ユーザー名もしくはパスワードが違います</p>
</div>
<form action="#" th:action="@{/login}" method="post">
    <div class="mt-3">
        <label for="usernameInput" class="form-label">ユーザー名</label>
        <input type="text" id="usernameInput" name="username" class="form-control">
    </div>
    <div class="mt-3">
        <label for="passwordInput" class="form-label">パスワード</label>
        <input type="password" id="passwordInput" name="password" class="form-control">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">ログイン</button>
    </div>
</form>
</body>
</html>