<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題作成 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題作成</h1>
<form action="#" th:action="@{/issues}" th:method="post" th:object="${issueForm}">
    <div class="mt-3">
        <label for="summaryInput" class="form-label">概要</label>
        <input type="text" id="summaryInput" th:field="*{summary}" class="form-control"
               th:classappend="${#fields.hasErrors('summary')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}">(error)</p>
    </div>
    <div class="mt-3">
        <label for="descriptionInput" class="form-label">説明</label>
        <textarea id="descriptionInput" row="10" th:field="*{description}" class="form-control"
                  th:classappend="${#fields.hasErrors('description')} ? is-invalid"></textarea>
        <p class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">(error)</p>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">作成</button>
        <a href="./list.html" th:href="@{/issues}" class="btn btn-secondary">キャンセル</a>
    </div>
</form>
</body>
</html>